<html>
    <head>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    </head>
    <body>
<div id='root' v-on:click="change">{{msg}}</div>
<script>
    new Vue({
        el:'#root',
        data:{
            msg:'hello'
        },
        methods:{
            change:function(){
                this.msg = 'world'
            }
        }
    })
</script>
    </body>
    </html>